.icons{
    width: 40px;
    height: 40px;
}

.Card_container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex-pack: justify;

}

.card {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 10px 0 50px rgba(52, 0, 148, 0.5);
  // overflow: hidden;
  width: 430px;
  margin: 0 0 30px 0;

}
.card:hover {
  cursor: pointer;
  box-shadow: 0 24px 38px 3px rgba(16, 16, 16, 0.388), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.sneakers__image{
  width: 430px;
}

.card:nth-child(1) {
  margin-right: 30px;
}

.Card_container h2 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px 0 0 20px;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: #ffffff; 
  mix-blend-mode: difference;
}

.Card_container h1 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 10px 5px 20px;
  font-size: 23px;
  mix-blend-mode: difference;
  color: white;
}


.content_sneakers .button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 10px 5px 0;
  padding: 5px 10px 5px 10px;
}







// =============================================




.tabs_controller {
  padding: 1rem 0;
  border: 1px solid;
  border-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1), transparent) 1;
  top: 25px;
  z-index: 1;
  background: var(--background);
}



.tab_menus {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  gap: 40px;
  padding: 0;
}

.tab_menus li {
  font-size: 19px;
  font-weight: bold;
  color: #444;
  opacity: 0.45;
  transition: all .2s ease-in;
  cursor: pointer;
  letter-spacing: .1ch;
}

.tab_menus li:hover {
  opacity: 0.6;
}

.tab_menus .active_tab {
  opacity: .8;
  font-weight: 600;
}
.container_centered {
  text-align: center;
}








@media screen and (max-width:600px) {

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    padding: .5rem 0;
  }

  .store_menu_wrapper {
    height: 64px;
  }

  .store_menu_item:first-of-type {
    padding-left: 20px;
  }

  .store_menu_item:last-of-type {
    padding-right: 80px;
  }

  .fader {
    width: 100px;
    background: linear-gradient(90deg, rgba(247, 247, 247, 0), rgba(247, 247, 247, 0.65), rgba(247, 247, 247, 0.95), rgba(247, 247, 247, 1));
  }

  .store_menu_item {
    height: 64px;
  }

  .store_menu_title {
    font-size: 2.5rem;
  }

  .tabs_controller {
    padding: .5rem 0;
  }
}
















