
.tabs_controller {
  padding: 1rem 0;
  border: 1px solid;
  border-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1), transparent) 1;
  top: 25px;
  z-index: 1;
  background: var(--background);
}

.tab_menus {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  gap: 40px;
  padding: 0;
}

.tab_menus li {
  font-size: 19px;
  font-weight: bold;
  color: #444;
  opacity: 0.45;
  transition: all .2s ease-in;
  cursor: pointer;
  letter-spacing: .1ch;
}

.tab_menus li:hover {
  color: rgb(0, 0, 0);
  opacity: 0.6;
}

.tab_menus .active_tab {
  opacity: .8;
  font-weight: 600;
}
.container_centered {
  text-align: center;
}




