.card_details {
  text-align: center;
  @media screen and (max-width: 600px) {
  padding: 0;
  .buttonOne {
      position: relative;
right: 100px;
    }
  }
}

.details {
  box-sizing: border-box;
  background: #fff;
  max-width: 1200px;
  height: 700px;
  padding: 40px;
  display: inline-block;
  margin: 50px 0;
  border-radius: 15px;
  position: relative;
}

.details_copy {
width: 50%;
float: right;
text-align: left;
padding: 25px 10px 10px 10px;
}

.details_content {
  text-align: center;
  width: 50%;
  float: left;
}

.headline {
  text-transform: uppercase;
  opacity: .3;
  padding: 10px;
}

.details_image {
  width: 40%;
  position: absolute;
  top: 40px;
  left: 40px;
}


.buttonOne {
  box-sizing: border-box;
  width: 250px;
  height: 50px;
  border: none;
  background: #eff634;
  text-transform: uppercase;
  border-radius: 8px;
  margin: 10px 10px 10px 10px;
  @media screen and (max-width: 600px) {
width: 150px;
height: 40px;

  }
}

.sum {
  font-size: 30px;
  font-weight: 700;
}



  
  .stars {
    margin-top: 5px;
    color: #999;
  }
  
  .stars span {
    font-size: 20px;
  }
  
  
  .ratings_reviews  {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 10px 0;
  }
  .stars{
    width: 200px;

  }
  .r_count {
    font-size: 14px;
    font-weight: 400;
    color: #888;
  }
  